# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\stanb\Documents\Associate Degree\Beroepsproduct\Jaar 2 Blok 6\Beroepsproduct\Oefeningen\Aansturen LED\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
